/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2021, 1:45:27 PM
    Author     : hirun
*/
.frmclass{
    padding-top: 50px !important;
}

.subbtn{
   background-color: yellow;
}