/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2021, 12:05:50 PM
    Author     : user
*/

/*nav bar - start*/

#hotel_name{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
}


/*nav bar - end*/