/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2022, 10:16:20 PM
    Author     : hirun
*/

.statusBox{
    width: 600px;
    height: 300px;
    background-color: blue;
    border-radius: 10px;
}